header {
    .identity {
        font-family: $logo;
        text-align: center;
        h2 {
            color: #424242;
            font-size: 2.5rem;
        }    
        p {
            font-size: 1.3rem;
        }
    }
    nav {
        li {
            font-size: 1rem;
            font-family: $muli;
        }
    }
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
}